<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>912384949281-qre3ecbs4kergkn9i2l8vcg9l9jpb2ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912384949281-qre3ecbs4kergkn9i2l8vcg9l9jpb2ca</string>
	<key>API_KEY</key>
	<string>AIzaSyBNIcYb6Mh8QKEOLZVtXdDibCvJI7tJAME</string>
	<key>GCM_SENDER_ID</key>
	<string>912384949281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anandnigam.LetsTalk</string>
	<key>PROJECT_ID</key>
	<string>letstalk-5e789</string>
	<key>STORAGE_BUCKET</key>
	<string>letstalk-5e789.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912384949281:ios:de83cf32592daedb</string>
	<key>DATABASE_URL</key>
	<string>https://letstalk-5e789.firebaseio.com</string>
</dict>
</plist>